<!DOCTYPE html>
<html ng-app="seo" lang="en" itemscope itemtype="http://schema.org/Article">
	<head prefix="og: http://ogp.me/ns#">
		<title>Free SEO Analyser by import.io</title>

		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
		<link href="http://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
		<link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
		<link href="seo.css" rel="stylesheet">

		<meta name="description" content="Analyse your webpage SEO attributes powered with data by import.io">

		<!-- G+ -->
		<meta itemprop="name" content="Free SEO Analyser by import.io">
		<meta itemprop="description" content="Analyse your webpage SEO attributes powered with data by import.io">
		<meta itemprop="image" content="http://seo-analyser.import.io/smart.png">

		<!-- FB -->
		<meta property="og:locale" content="en_US">
		<meta property="og:url" content="http://seo-analyser.import.io">
		<meta property="og:title" content="Free SEO Analyser by import.io">
		<meta property="og:site_name" content="SEO Analyser">
		<meta property="og:description" content="Analyse your webpage SEO attributes powered with data by import.io">
		<meta property="og:image" content="http://seo-analyser.import.io/smart.png">
		<meta property="og:image:type" content="image/png">
		<meta property="og:image:width" content="300">
		<meta property="og:image:height" content="300">
		<meta property="fb:app_id" content="512941028804389">

	</head>
	<body>

		<div class="container" ng-controller="SEO">
			<div class="well heading">
				<img src="/smart.png" class="pull-right" style="height: 80px">
				<h1>Free SEO Analyser</h1>
				<p class="pull-right"><button class="btn btn-default btn-sm" ng-click="openCSV()"><i class="fa fa-download"></i> CSV</button></p>
				<p>This app will tell you the key SEO metadata embedded in web pages.</p>
				<p>Built with <a href="https://import.io">structured APIs</a> powered by import.io</p>
				<form class="form" ng-submit="addUrl(inputUrl)">
					<div class="input-group">
						<input type="text" class="form-control" autofocus placeholder="Enter one or paste several URLs" ng-model="inputUrl" ng-change="inputChanged(inputUrl)">
						<span class="input-group-btn">
							<button type="submit" class="btn btn-success"><i class="fa fa-plus"></i></button>
						</span>
					</div>
				</form>
			</div>
			<div class="rows">
				<div class="row" ng-repeat="row in rows" ng-class="{ 'expanded': row.expanded }">
					<div class="row-heading" ng-click="row.expanded = !row.expanded">
						<i class="fa fa-spin fa-spinner" ng-if="row.loading"></i>
						<i class="fa fa-warning warning" ng-if="row.failed"></i>
						<i class="pull-right fa" ng-class="{ 'fa-chevron-down': !row.expanded, 'fa-chevron-up': row.expanded}"></i>
						{{row.data.title || row.url}}
					</div>
					<div class="row-body" ng-if="row.expanded">
						<div ng-if="row.loading" class="loading center">
							<i class="fa fa-spin fa-spinner"></i>
							<p>Loading data...</p>
						</div>
						<div ng-if="!row.loading && row.failed">
							<h3 class="center">Oops!</h3>
							<p class="center">We were unable to get the data for this URL</p>
							<div class="center">
								<button class="btn btn-default" ng-click="refreshRow(row)"><i class="fa fa-refresh"></i> Refresh this URL</button>
							</div>
						</div>
						<div ng-if="!row.loading && !row.failed">
							<div class="row">
								<div class="col-md-6">
									<h2>Page metadata</h2>
									<table class="table table-condensed">
										<tbody>
											<tr>
												<th>Title</th>
												<td>{{row.data.title || notPresent}}</td>
											</tr>
											<tr>
												<th>Author</th>
												<td>{{row.data.author || notPresent}}</td>
											</tr>
											<tr>
												<th>Description</th>
												<td>{{row.data.description || notPresent}}</td>
											</tr>
											<tr>
												<th rowspan="{{row.states.expanded.keywords ? row.data.keywords.length : 5}}">Keywords&nbsp;({{row.data.keywords.length || 0}})</th>
												<td>{{row.data.keywords ? row.data.keywords[0] : notPresent}}</td>
											</tr>
											<tr ng-repeat="keyword in row.data.keywords.slice(0, row.states.expanded.keywords ? undefined : 5) track by $index" ng-if="!$first">
												<td>{{keyword}}</td>
											</tr>
											<tr ng-if="row.data.keywords.length > 5">
												<td colspan="2" class="center">
													<a href="" ng-show="!row.states.expanded.keywords" ng-click="row.states.expanded.keywords = true">More...</a>
													<a href="" ng-show="row.states.expanded.keywords" ng-click="row.states.expanded.keywords = false">Less...</a>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="col-md-6">
									<div class="btn-group pull-right">
										<button class="btn btn-default" ng-click="refreshRow(row)"><i class="fa fa-refresh"></i></button>
										<button class="btn btn-danger" ng-click="removeRow($index)"><i class="fa fa-trash-o"></i></button>
									</div>
									<h2>Outbound links ({{row.data.links.length || 0}})</h2>
									<div class="cloud">
										<span class="cloud-item" ng-repeat="link in row.data.links.slice(0, row.states.expanded.links ? undefined : 10) track by $index">
											<a ng-href="{{link}}" target="_blank">{{row.data["links/_text"][$index] || notLabelled}}</a>
										</span>
									</div>
									<div ng-if="row.data.links.length > 10" class="center">
										<a href="" ng-show="!row.states.expanded.links" ng-click="row.states.expanded.links = true">More...</a>
										<a href="" ng-show="row.states.expanded.links" ng-click="row.states.expanded.links = false">Less...</a>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12">
									<h2 class="center">Headings</h2>
								</div>
							</div>
							<div class="row">
								<div class="col-md-2" ng-repeat="heading in ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']">
									<h3 class="center" style="text-transform: uppercase">{{heading}} ({{row.data[heading].length || 0}})</h3>
									<p ng-repeat="h in row.data[heading].slice(0, row.states.expanded.headings ? undefined : 5) track by $index">
										{{h}}
									</p>
									<p ng-if="row.data[heading].length < 1">{{noHeadings}}</p>
								</div>
							</div>
							<div class="row" ng-if="hasMoreHeadings(row, 5)">
								<div class="col-md-12 center">
									<a href="" ng-show="!row.states.expanded.headings" ng-click="row.states.expanded.headings = true">More...</a>
									<a href="" ng-show="row.states.expanded.headings" ng-click="row.states.expanded.headings = false">Less...</a>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<h2>Schema.org</h2>
									<table class="table table-condensed">
										<tbody>
											<tr>
												<th>Name</th>
												<td>{{row.data.schema_name || notPresent}}</td>
											</tr>
											<tr>
												<th>Description</th>
												<td>{{row.data.schema_description || notPresent}}</td>
											</tr>
											<tr>
												<th>Image</th>
												<td>{{row.data.schema_image || notPresent}}</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="col-md-6">
									<h2>Open Graph</h2>
									<table class="table table-condensed">
										<tbody>
											<tr>
												<th>Title</th>
												<td>{{row.data.og_title || notPresent}}</td>
											</tr>
											<tr>
												<th>Type</th>
												<td>{{row.data.og_type || notPresent}}</td>
											</tr>
											<tr>
												<th>Site name</th>
												<td>{{row.data.og_sitename || notPresent}}</td>
											</tr>
											<tr>
												<th>Image</th>
												<td>{{row.data.og_image || notPresent}}</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<h2>Robots headers</h2>
									<table class="table table-condensed">
										<tbody>
											<tr>
												<th rowspan="{{row.data.robots.length}}">Robots</th>
												<td>{{row.data.robots ? row.data.robots[0] : notPresent}}</td>
											</tr>
											<tr ng-repeat="robot in row.data.robots track by $index" ng-if="!$first">
												<td>{{robot}}</td>
											</tr>
											<tr>
												<th>Revisit</th>
												<td>{{row.data.revisit_after || notPresent}}</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="col-md-6">
									<h2>Embedded images ({{row.data.images.length || 0}})</h2>
									<div class="cloud">
										<span class="cloud-item" ng-repeat="image in row.data.images.slice(0, row.states.expanded.images ? undefined : 5) track by $index">
											<a ng-href="{{image}}" target="_blank"><img ng-src="{{image}}" style="max-width: 100px; max-height: 100px;"></a>
										</span>
									</div>
									<div ng-if="row.data.images.length > 5" class="center">
										<a href="" ng-show="!row.states.expanded.images" ng-click="row.states.expanded.images = true">More...</a>
										<a href="" ng-show="row.states.expanded.images" ng-click="row.states.expanded.images = false">Less...</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
		<script src="https://cdn.import.io/js/2.0.0/importio.js"></script>
		<script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<script src="app.js"></script>

		<!-- GA code -->
		<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-35197492-1', 'import.io');
		ga('send', 'pageview');

		</script>
	</body>
</html>